version: '3.4'

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  frontend:
    image: redpencil/frontend-redpencil.io:0.10.1
    volumes:
      - ./config/frontend:/config
    links:
      - identifier:backend
    restart: always
    logging: *default-logging
  identifier:
    image: semtech/mu-identifier:1.9.1
    links:
      - dispatcher:dispatcher
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.0.0
    volumes:
      - ./config/dispatcher:/config
    links:
      - resource:resource
    restart: always
    logging: *default-logging
  database:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.5.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:1.20.0
    volumes:
      - ./config/resources:/config
    links:
      - database:database
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.7.0
    volumes:
      - ./config/migrations:/data/migrations
    links:
      - database:database
    logging: *default-logging
  deliver-email-service:
    image: redpencil/deliver-email-service:1.0.0
    environment:
      MAILBOX_URI: 'http://semantic.works/id/mailboxes/1'
    volumes:
      - ./data/files:/share
    links:
      - database:database
    restart: always
    logging: *default-logging
